# Python
*.pyc
*.pyo
__pycache__/
venv/
*.log

# Django
*.sqlite3
db.sqlite3
*.log

# Virtualenv
venv/

# Media files
/media/

# Static files
/static/

# Environment variables
.env

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
